

<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="row">
  <div class="col-md-3">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="col-md-3">
    <%= form.label :content, style: "display: block"  %>
    <%= form.text_area :content %>
  </div>

  <div class="col-md-3">
    <%= form.label :rate, style: "display: block" %>
    <%= form.range_field :rate, :min=>1, :max=>5 , :class=>"slide", :id=>"slider1" , oninput:"updateTextInput(this.value)"%>
    <output type="text" id="textInput"  value=""></output>
 

  </div>
</div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<script>
function updateTextInput(val) {
          document.getElementById('textInput').value=val;
        }
</script>